<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CosmeticStore</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <nav class="navbar navbar-expand-lg bg-primary mb-3" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CosmeticStore</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link @(ViewData["ActivePage"] as string == "Home" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewData["ActivePage"] as string == "Privacy" ? "active" : "")"
                                   asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link  @(ViewData["ActivePage"] as string == "AdminPanel" ? "active" : "")"
                                    asp-area="" asp-controller="Home" asp-action="AdminPanel">Admin Panel</a>
                                </li>
                            }
                            @if (User.IsInRole("Seller"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link  @(ViewData["ActivePage"] as string == "SellerPanel" ? "active" : "")"
                                       asp-area="" asp-controller="Home" asp-action="SellerPanel">Seller Panel</a>
                                </li>
                            }
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>
        <div class="my-wrapper">
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
        <footer class="border-top footer text-muted my-footer">
            <div class="container">
                &copy; 2024 - CosmeticStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    
   

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<script>


    async function LoadCartCount() {
        try {
            let response = await fetch(`/Cart/GetTotalItemInCart`);

            if (response.status == 200) {
                let result = await response.json();
                console.log(result);

                cartCountItem.innerHTML = result;
            }
        } catch (error) {
            console.log(error);
        }
    }
    LoadCartCount();


</script>
</html>
